<!DOCTYPE html>
<html>

<head>

    <title>Za Worldo! - @ViewBag.Title </title>
    <meta charset="utf-8" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/bootswatch/superhero/bootstrap.min.css" />
    <link rel="stylesheet" href="~/lib/font-awesome/css/font-awesome.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
    <link rel="stylesheet" href="~/css/WritePost.css" />
    @*<link rel="stylesheet" href="~/css/jquery-ui.min.css" />*@
    @*<link rel="stylesheet" href="~/css/jquery-ui.structure.min.css" />
    <link rel="stylesheet" href="~/css/jquery-ui.theme.min.css" />*@
    
    


</head>
<body>
    <div id="wrapper">
        <div class="banner">
            <a asp-controller="App" asp-action="WebPosts" asp-route-id="1" class="fill-div"></a>
            @Html.Partial("Banner")
        </div>
        <div id="menubar">
            @Html.Partial("HorizontalNavbar")
        </div>
        <div id="main">
            <div>
                @RenderBody()
            </div>
        </div>
        @*<div id="footer" class="container-fluid">
            <div class="navbar navbar-default navbar-fixed-bottom">
                <h4 class="text-center"> &copy; 2016 Rekt League Ltd. </h4>
            </div>

        </div>*@
    </div>
    <script type="text/javascript" src="~/lib/knockoutjs/dist/knockout.js"></script>
    <script type="text/javascript" src="~/lib/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="~/js/jquery-ui.min.js"></script>
    <script type="text/javascript" src="~/lib/bootstrap/dist/js/bootstrap.min.js"></script>
    <script type="text/javascript" src="~/js/sidebar.js"></script>
    <script type="text/javascript" src="~/js/jquery.fittext.js"></script>
    <script type="text/javascript" src="~/js/WebPostPartial.js"></script>
    <script type="text/javascript" src="~/js/UserSettings.js"></script>
    <script type="text/javascript" src="~/js/WritePost.js"></script>
   
    @RenderSection("Scripts", false)

</body>







</html>